/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Color palette */
/* #eeeeee */
/* #393e46 */
/* #76ead7 */
/* #c4fb6d */


body{
    margin:0;
    font-family:"Montserrat";
    font-weight:100;
    background-color: #76ead7;
}

.title{
    font-size:3rem;
    font-weight:100;
    background-color:#42a6f4;
    display:flex;
    align-items:center;
    color:white;
    border:2px solid black;
}

.container{
    height:200px;
    width:700px;
    background-color:#393e46;
    border-radius:20px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin:100px auto 30px;
    border:10px solid #eeeeee;
}

.unit{
    text-align:center;
    color:#c4fb6d;
    width:160px;
    font-size:100px;
}

.colon{
    color:white;
    font-size:100px;
    padding-bottom:10px;
}

.btn-container{
    width:50%;
    margin:0 auto;
    display:flex;
    justify-content: center;
}

.btn{
    display:inline-block;
    border:1.5px solid #eeeeee;
    width:80px;
    height:80px;
    border-radius: 50%;
    font-size:20px;
    background-color:#393e46;
    color:#eeeeee;
    margin:20px;
    outline:none;
    font-family:"Montserrat"!important;
}

.btn:hover{
    background-color:#eeeeee;
    color:#393e46;
    border:1px solid #393e46;
}

.btn:focus{
    width:80px;
    height:80px;
    border-radius: 50%;
}

.lap-container{
    background-color: #eeeeee;
    width:50%;
    margin:20px auto;
    border-radius:20px;
    border:2px solid #393e46;
}

.header{
    padding:20px 30px 20px;
    display:flex;
    justify-content:space-between;
}

.lap-title{
    font-size:30px;
    font-weight:500;
    color:grey;
    margin-left:20px;
}

.clear-btn{
    outline:none;
    font-family:"Montserrat"!important;
    font-weight:300!important;
    font-size:20px;
    background-color: #393e46;
    color:#eeeeee;
    border-radius:10px;
}

.clear-btn:hover{
    background-color:#eeeeee;
    color:#393e46;
    border:2px solid #393e46;
}

.lap{
    letter-spacing: 2px;
    font-size:20px;
    margin-left:20px;
    line-height:2;
}

@media only screen and (max-width:745px){
    .container{
        width:350px;
        height:100px;
    }

    .unit{
        font-size:50px;
    }

    .btn-container{
        width:100%;
    }

    .colon{
        font-size:50px;
    }

    .lap-container{
        width:70%;
    }
}

@media only screen and (max-width:470px){
    img{
        width:50%;
    }

    .header{
        padding:10px;
    }
}